<app-jumbotron></app-jumbotron>
<main>
  <section class="container mx-auto ">
    <!-- Section: Contact v.3 -->
    <div class="contact-section my-5">

      <!-- Form with header -->
      <div class="card">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-7">

            <form class="card-body form">

              <!-- Header -->
              <h3 class="mt-4">
                <mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>Liên hệ với chúng tôi:
              </h3>

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-name" class="form-control" mdbInput>
                    <label for="form-contact-name" class="">Họ tên</label>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-email" class="form-control" mdbInput>
                    <label for="form-contact-email" class="">Email</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-phone" class="form-control" mdbInput>
                    <label for="form-contact-phone" class="">Số điện thoại</label>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-company" class="form-control" mdbInput>
                    <label for="form-contact-company" class="">Địa chỉ</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <textarea type="text" id="form-contact-message" class="form-control md-textarea" rows="3"
                      mdbInput></textarea>
                    <label for="form-contact-message">Nội dung</label>
                  </div>
                </div>

                <button type="button" class="btn btn-primary mt-3 ml-auto">Gửi <mdb-icon far icon="paper-plane">
                  </mdb-icon>
                </button>
                <!-- Grid row -->
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </form>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-5">

            <div class="card-body contact text-center h-100 white-text">

              <h3 class="my-4 pb-2">Thông tin liên hệ</h3>
              <ul class="text-lg-left list-unstyled ml-4">
                <li>
                  <p>
                    <mdb-icon fas icon="map-marked" class="pr-2"></mdb-icon>89/1 đường TX13, phường Thạnh Xuân, quận 12,
                    HCM
                  </p>
                </li>
                <li>
                  <p>
                    <mdb-icon fas icon="phone" class="pr-2"></mdb-icon>0984574168
                  </p>
                </li>
                <li>
                  <p>
                    <mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>taiducwindow@gmail.com
                  </p>
                </li>
              </ul>
              <hr class="hr-light my-4">
              <ul class="list-inline text-center list-unstyled">
                <li class="list-inline-item">
                  <a class="p-2 fa-lg tw-ic">
                    <mdb-icon fab icon="facebook"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 fa-lg li-ic">
                    <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 fa-lg ins-ic">
                    <mdb-icon fab icon="youtube"> </mdb-icon>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Form with header -->

    </div>
    <!-- Section: Contact v.3 -->
  </section>
</main>
