<app-jumbotron>
  <h5 class="h5 orange-text"><i class="fas fa-id-card-alt"></i> Liên hệ</h5>
  <h2 class="card-title h2 my-4 py-2">Liên hệ với chúng tôi</h2>
</app-jumbotron>

<main>
  <section class="container mx-auto">
    <div [class.show]="isShowAlert" class="alert alert-success alert-dismissible fade" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="isShowAlert = false">
        <span aria-hidden="true">&times;</span>
      </button>
      Thông tin đã gửi thành công!
    </div>
    <!-- Section: Contact v.3 -->
    <div class="contact-section my-5">
      <!-- Form with header -->
      <div class="card">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-lg-7">
            <form
              [formGroup]="contactForm"
              (ngSubmit)="sendInformationOfCustomer()"
              class="card-body form"
            >
              <!-- Header -->
              <h3 class="mt-4">
                <mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>
                Liên hệ
                với chúng tôi:
              </h3>

              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="form-contact-name"
                      class="form-control"
                      mdbInput
                      formControlName="name"
                    />
                    <label for="form-contact-name" class="">Họ tên <span class="red-text">*</span></label>
                  </div>
                  <div
                    *ngIf="name.invalid && (name.dirty || name.touched)"
                  >
                    <small
                      class="red-text"
                      *ngIf="name.hasError('required')"
                    >
                      Thông tin này là bắt buộc.
                    </small>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="form-contact-email"
                      class="form-control"
                      mdbInput
                      formControlName="email"
                    />
                    <label for="form-contact-email" class="">Email <span class="red-text">*</span></label>
                  </div>
                  <div
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                  >
                    <small
                      class="red-text"
                      *ngIf="email.hasError('required')"
                    >
                      Thông tin này là bắt buộc.
                    </small>
                    <small
                      class="red-text"
                      *ngIf="email.hasError('email')"
                    >
                      Email không hợp lệ.
                    </small>
                  </div>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="form-contact-phone"
                      class="form-control"
                      mdbInput
                      formControlName="phone"
                    />
                    <label for="form-contact-phone" class=""
                    >Số điện thoại <span class="red-text">*</span></label
                    >
                  </div>
                  <div
                    *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                  >
                    <small
                      class="red-text"
                      *ngIf="phone.hasError('required')"
                    >
                      Thông tin này là bắt buộc.
                    </small>
                    <small
                      class="red-text"
                      *ngIf="phone.hasError('pattern')"
                    >
                      Số điện thoại không hợp lệ.
                    </small>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="form-contact-company"
                      class="form-control"
                      mdbInput
                      formControlName="address"
                    />
                    <label for="form-contact-company" class="">Địa chỉ <span class="red-text">*</span></label>
                  </div>
                  <div
                    *ngIf="address.invalid && (address.dirty || address.touched)"
                  >
                    <small
                      class="red-text"
                      *ngIf="address.hasError('required')"
                    >
                      Thông tin này là bắt buộc.
                    </small>
                  </div>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <textarea
                      type="text"
                      id="form-contact-message"
                      class="form-control md-textarea"
                      rows="3"
                      mdbInput
                      formControlName="content"
                    ></textarea>
                    <label for="form-contact-message">Nội dung</label>
                  </div>
                </div>

                <button
                  type="submit"
                  [disabled]="contactForm.invalid"
                  class="btn btn-primary mt-3 ml-auto"
                >
                  Gửi
                  <mdb-icon far icon="paper-plane"></mdb-icon>
                </button>
                <!-- Grid row -->
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </form>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-5">
            <div class="card-body contact text-center h-100 white-text">
              <h3 class="my-4 pb-2">Thông tin liên hệ</h3>
              <ul class="text-lg-left list-unstyled ml-4">
                <li>
                  <p>
                    <mdb-icon fas icon="map-marked" class="pr-2"></mdb-icon>
                    {{ contact?.address }}
                  </p>
                </li>
                <li>
                  <p>
                    <mdb-icon fas icon="phone" class="pr-2"></mdb-icon
                    >
                    {{ contact?.phone }}
                  </p>
                </li>
                <li>
                  <p>
                    <mdb-icon fas icon="envelope" class="pr-2"></mdb-icon
                    >
                    {{ contact?.email }}
                  </p>
                </li>
              </ul>
              <hr class="hr-light my-4"/>
              <ul class="list-inline text-center list-unstyled">
                <li class="list-inline-item">
                  <a
                    class="p-2 fa-lg tw-ic"
                    target="_blank"
                    [href]="contact?.facebook ? contact?.facebook : '#'"
                  >
                    <mdb-icon fab icon="facebook"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="p-2 fa-lg li-ic"
                    target="_blank"
                    [href]="contact?.facebook ? contact?.linkedin : '#'"
                  >
                    <mdb-icon fab icon="linkedin-in"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="p-2 fa-lg ins-ic"
                    target="_blank"
                    [href]="contact?.facebook ? contact?.youtube : '#'"
                  >
                    <mdb-icon fab icon="youtube"></mdb-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Form with header -->
    </div>
    <!-- Section: Contact v.3 -->
  </section>
</main>

