<app-jumbotron></app-jumbotron>
<main>
    <section class="container">
        <!--Section: Content-->
        <div class="text-center">
            <!-- Section heading -->
            <h3 class="font-weight-bold mb-5">Chi Tiết Sản Phẩm</h3>
            <div class="row">
                <div class="col-lg-6">
                    <!--Carousel Wrapper-->
                    <app-carousel></app-carousel>
                    <!--/.Carousel Wrapper-->
                </div>

                <div class="col-lg-6 text-center text-md-left">
                    <h2
                        class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                        Cửa cuốn cao cấp PM2020</h2>
                    <div class="font-weight-normal">

                        <p class="ml-xl-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                            nesciunt atque nemo neque ut officiis nostrum incidunt maiores, magni optio et sunt
                            suscipit
                            iusto nisi totam quis, nobis mollitia necessitatibus.</p>
                        <hr>
                        <div class="mt-3">
                            <a href="contact.html" class="btn btn-primary btn-rounded">
                                <i class="fas fa-id-badge mr-2"></i> Liên Hệ </a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="mt-5">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Mô tả</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Thông tin sản phẩm</a>
                    </li>
                </ul>
                <div class="tab-content pt-5" id="myTabContent">
                    <div class="tab-pane text-left fade show active" id="home" role="tabpanel"
                        aria-labelledby="home-tab">
                        <p>Cửa cuốn cao cấp được làm từ hợp kim nhôm 6063 cao cấp trên dây
                            chuyền thiết bị hiện
                            đại cửa Đức, đảm bảo vận hành êm ái, nhẹ, an toàn. Đặc biệt có thể điều chỉnh ánh sáng
                            theo
                            ý muốn thông qua các khe thoáng giúp cho việc lưu thông không khí trong và ngoài, mang
                            lại
                            sự tiện nghi thoải mái cho khách hàng.</p>
                        <p>Cửa cuốn cao cấp hội tụ công nghệ đỉnh cao từ chất lượng đến kiểu dáng, hòa quyện vào
                            không
                            gian kiến trúc nên một phong cách đẳng cấp, lịch lãm, đẹp và bền mãi với thời gian.</p>
                        <p>Lý do nên chọn cửa cuốn:</p>
                        <ol>
                            <li>An toàn: Cửa cuốn sử dụng linh kiện đồng bộ. Nan cửa được làm từ hợp kim nhôm
                                6063 cao cấp. Thiết kế theo dạng khoan rỗng, có độ dày từ 0.9mm đến 1.9mm, kết cầu
                                từ 2
                                dến 6 chân làm tăng khả năng chịu lực theo nhiều hướng nhằm chống sự xâm nhập vào
                                nhà.
                                Cách âm và chống cháy tốt. Đặc biệt cửa rất an toàn cho người già và trẻ em - tự
                                động
                                dừng ngay khi gặp chướng ngại vật hoặc đảo chiều lên khi gặp tình huống tương tự.
                            </li>
                            <li class="py-4">Tinh xảo: Cấu tạo bên trong từng nan cửa mới chính là điểm khác biệt
                                cửa
                                mỗi thương
                                hiệu. Sẽ rất quan trọng vì đay chính là yếu tố làm nên bộ cửa an toàn, vận hành êm
                                và có
                                tuổi thọ cao. Trãi qua nghiên cứu rất nhiều năm và bằng kinh nghiệm thực tế để thiết
                                kế
                                ra kiểu dáng lõi bên trong cửa thân cửa một cách khoa học, tọa ra một tác phẩm tinh
                                xảo
                                đến từng milimet.
                            </li>
                            <li class="mb-4">
                                Tiện nghi: Chỉ cần một nút nhấn bạn có thể đống hoặc điều khiển bằng thiết bị từ xa.
                                Cuộc sống sẽ thoải mái hơn, an toàn hơn, thuận tiện hơn với dòng cửa cuốn khe
                                thoáng,
                                vừa điều chỉnh sự thông thoáng theo ú muốn, vừa cách âm, cách nhiệt lại hài hòa
                                trong
                                mọi kiểu kiến trúc.

                            </li>
                            <li>
                                Hoàn hảo: Cửa cuốn cao cấp mang lại hiệu qua kinh tế cao nhờ độ bền vượt trội. Nhắm
                                tới
                                lợi ích lâu dài bằng uy tín cửa thương hiệu và bằng hía trị nhân bản sâu sắc để làm
                                nên
                                một sản phẩm hoàn hảo về giá cả và chất lượng. Xứng đáng với sự tin cậy của khách
                                hàng.
                            </li>
                        </ol>
                    </div>
                    <div class="tab-pane text-left fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul style="list-style-type: circle;">
                            <li>Dòng sản phẩm Super deluxe dùng roon giảm chấn </li>
                            <li> Kết cấu: 2 chân, 1 vít + 3 thanh chữ K + Vách ngang chịu lực</li>
                            <li> Đặc điểm: Móc dày 1.15mm, vai và chân chịu lực dày 1.2 - 1.6mm +/-0.6%</li>
                            <li> Màu sắc: Ghi sần, Cafe, Vàng Kem</li>
                            <li> Công nghệ sơn: AKZO NOBEL</li>
                            <li> Bộ tời YH gồm: Motor + Lắc + Hộp ĐK + 2 Tay ĐK chống nước + Nút âm tường.</li>
                            <li> Tính năng: dừng khi gặp vật cản, hệ thống báo động</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>