<div class="container">
  <h2 class="text-center section-title">Sản Phẩm</h2>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 wow fadeInDown">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay zoom">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg"
            alt="Card image cap">
          <a href="product-detail.html">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!-- Text -->
          <p class="card-text text-clip">Some quick example text to build on the card title and
            make
            up the bulk
            of the card's
            content.</p>
          <!-- Link -->
          <a href="product-detail.html" class="black-text d-flex justify-content-end">
            <span>Chi Tiết <i class="fas fa-angle-double-right"></i></span>
          </a>

        </div>

      </div>
    </div>
    <div class="col mb-4 wow fadeInDown">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay zoom">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg"
            alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!-- Text -->
          <p class="card-text text-clip">Some quick example text to build on the card title and
            make
            up the bulk
            of the card's
            content.</p>
          <!-- Link -->
          <a href="product-detail.html" class="black-text d-flex justify-content-end">
            <span>Chi Tiết <i class="fas fa-angle-double-right"></i></span>
          </a>

        </div>

      </div>
    </div>
    <div class="col mb-4 wow fadeInDown">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay zoom">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg"
            alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!-- Text -->
          <p class="card-text text-clip">Some quick example text to build on the card title and
            make
            up the bulk
            of the card's
            content.</p>
          <!-- Link -->
          <a href="product-detail.html" class="black-text d-flex justify-content-end">
            <span>Chi Tiết <i class="fas fa-angle-double-right"></i></span>
          </a>

        </div>

      </div>
    </div>
    <div class="col mb-4 wow fadeInUp">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay zoom">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg"
            alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!-- Text -->
          <p class="card-text text-clip">Some quick example text to build on the card title and
            make
            up the bulk
            of the card's
            content.</p>
          <!-- Link -->
          <a href="product-detail.html" class="black-text d-flex justify-content-end">
            <span>Chi Tiết <i class="fas fa-angle-double-right"></i></span>
          </a>

        </div>

      </div>
    </div>
    <div class="col mb-4 wow fadeInUp">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay zoom">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg"
            alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!-- Text -->
          <p class="card-text text-clip">Some quick example text to build on the card title and
            make
            up the bulk
            of the card's
            content.</p>
          <!-- Link -->
          <a href="product-detail.html" class="black-text d-flex justify-content-end">
            <span>Chi Tiết <i class="fas fa-angle-double-right"></i></span>
          </a>

        </div>

      </div>
    </div>
    <div class="col mb-4 wow fadeInUp">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay zoom">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg"
            alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!-- Text -->
          <p class="card-text text-clip">Some quick example text to build on the card title and
            make
            up the bulk
            of the card's
            content.</p>
          <!-- Link -->
          <a href="product-detail.html" class="black-text d-flex justify-content-end">
            <span>Chi Tiết <i class="fas fa-angle-double-right"></i></span>
          </a>

        </div>

      </div>
    </div>
  </div>
</div>
