<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">{{contact?.company}}</h5>
        <p>{{contact?.description}}</p>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-map-marker"></i>
              <span class="ml-3">{{contact?.address}}</span>
            </p>
          </li>
          <li class="my-3">
            <p>
              <i class="fas fa-phone"></i>
              <span class="ml-3">{{contact?.phone}}</span>
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope"></i>
              <span class="ml-3">{{contact?.email}}</span>
            </p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Liên Kết</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/home">Trang chủ</a>
          </li>
          <li>
            <a routerLink="/product">Sản phẩm</a>
          </li>
          <li>
            <a routerLink="/advisory/goc-tu-van">Tư vấn</a>
          </li>
          <li>
            <a routerLink="/news/tin-tuc-trong-nganh">Tin Tức</a>
          </li>
          <li>
            <a routerLink="/introduce">Giới thiệu</a>
          </li>
          <li>
            <a routerLink="/contact">Liên hệ</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3 pb-4">
        <!-- Links -->
        <h5 class="text-uppercase">Fanpage</h5>
        <div class="fb-page" [attr.data-href]="contact?.facebook" data-height="300" data-small-header="false"
          data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote [attr.cite]="contact?.facebook" class="fb-xfbml-parse-ignore">
            <a [href]="contact?.facebook">Test for Web</a>
          </blockquote>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
