<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">CÔNG TY TNHH TMDV TÀI ĐỨC WINDOW</h5>
        <p>Nhà cung cấp tổng thể các thế hệ cửa cao cấp</p>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-map-marker"></i>
              <span class="ml-3">89/1 đường TX13, phường Thạnh Xuân, quận 12, HCM</span>
            </p>
          </li>
          <li class="my-3">
            <p>
              <i class="fas fa-phone"></i>
              <span class="ml-3">0984574168</span>
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope"></i>
              <span class="ml-3">taiducwindow@gmail.com</span>
            </p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Liên Kết</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Trang chủ</a>
          </li>
          <li>
            <a href="#!">Sản phẩm</a>
          </li>
          <li>
            <a href="#!">Tư vấn</a>
          </li>
          <li>
            <a href="#!">Tin Tức</a>
          </li>
          <li>
            <a href="#!">Giới thiệu</a>
          </li>
          <li>
            <a href="#!">Liên hệ</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3 pb-4">
        <!-- Links -->
        <h5 class="text-uppercase">Fanpage</h5>

        <div class="fb-page" data-href="https://www.facebook.com/Test-for-Web-100803098603690" data-height="300"
          data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/Test-for-Web-100803098603690" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/Test-for-Web-100803098603690">Test for Web</a>
          </blockquote>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <span>ThoBui</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
