<app-jumbotron></app-jumbotron>
<!-- main -->
<main>
  <section class="container">
    <strong
      >Bí quyết giữ cho cửa Kính nhà bạn luôn sạch tinh tươm, sáng bóng</strong
    >
    <p>
      Cửa kính, gương hay những đồ dùng có vẻ ngoài sáng bóng là những đồ dùng
      rất dễ bám bụi và vết bẩn, nên chúng luôn đòi hỏi phải được lau chùi mỗi
      ngày để đảm bảo thẩm mĩ. Vậy làm thế nào để không phải mất nhiều thời gian
      lau chùi mà cửa kính nhà bạn vẫn sáng bóng, sạch tinh tươm??? Hãy để bài
      viết này chỉ cho bạn Bí quyết giữ cho Cửa Kính nhà bạn luôn sáng bóng,
      sạch tinh tươm với nguyên liệu rẻ tiền, có sẵn ngay trong nhà mà Không cần
      mua nước lau kính bạn hoàn toàn có thể làm sạch cửa kính, và không làm mất
      nhiều thời gian của các bà nội trợ mà vẫn hiệu quả vô cùng nhé.
    </p>
    <strong>1. Dùng rượu trắng</strong>
    <p>
      Khi cửa kính bị vết mờ do bụi bẩn hoặc hơi ẩm, bạn có thể dùng khăn ướt
      tẩm vài giọt rượu trắng để lau. Chỉ một lát sau, cửa kính sẽ sạch bóng
      ngay.
    </p>
    <strong>2. Dùng giấy báo</strong>
    <p>
      Để giải quyết những vết bụi bẩn thông thường trên cửa kính bạn có thể dùng
      tờ báo mềm cũ thấm nước và lau sạch. Sau đó, lau lại bằng khăn mềm khô.
      Cách làm này đơn giản nhưng cũng k kém phần hiệu quả.
    </p>
    <strong>3. Dùng bột bắp, Amoniac</strong>
    <div class="text-center">
      <img
        src="http://azdoor.vn/public/userfiles/images/cua-kinh-sach-se.jpg"
        alt=""
      />
    </div>
  </section>
</main>
