<app-jumbotron>
  <h5 class="h5 orange-text"><i class="fas fa-id-card-alt"></i> shop</h5>
  <h2 class="card-title h2 my-4 py-2">Danh sách sản phẩm</h2>
</app-jumbotron>
<main>
  <!-- product -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4 class="mb-4">Danh mục sản phẩm</h4>
          <div class="text-muted small text-uppercase mb-5">
            <ng-container *ngIf="categories$ | async as categories">
              <p>
                <a
                  class="card-link-secondary"
                  routerLink="/product"
                  routerLinkActive="category-active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Tất cả sản phẩm</a
                >
              </p>
              <p *ngFor="let category of categories" class="mb-3">
                <a
                  [routerLink]="['/product/category', category.id]"
                  routerLinkActive="category-active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  class="card-link-secondary"
                  >{{ category.name }}</a
                >
              </p></ng-container
            >
          </div>
        </div>

        <!-- product-list -->
        <div class="col-md-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section>
</main>
