<app-jumbotron>
  <h5 class="h5 orange-text"><i class="fas fa-id-card-alt"></i> shop</h5>
  <h2 class="card-title h2 my-4 py-2">Danh sách sản phẩm</h2>
</app-jumbotron>
<main>
  <!-- product -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4 class="mb-4">Danh mục sản phẩm</h4>
          <div class="text-muted small text-uppercase mb-5">
            <p *ngFor="let category of categories" class="mb-3">
              <a
                [routerLink]="['/product/category', category.id]"
                class="card-link-secondary text-uppercase"
                >{{ category.name }}</a
              >
            </p>
          </div>
        </div>

        <!-- product-list -->
        <div class="col-md-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section>
</main>
