<app-home-carousel [images]="banner?.images"></app-home-carousel>
<main>
  <!-- service  -->
  <section>
    <div class="container">
      <h2 class="text-center section-title">Dịch Vụ Của Chúng Tôi</h2>
      <div class="row">
        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0" *ngFor="let item of services; index as i">
          <mdb-card [ngClass]="{'bg-success': i === 0, 'deep-purple': i === 2}"
                    class="h-100 text-center bg-success text-white">
            <mdb-card-body>
              <img [src]="item.image" style="height: 150px;">
              <h5 class="font-weight-normal my-4 py-2" [ngClass]="{'dark-grey-text': i === 1 || i ===3}">
                {{ item.title }}
              </h5>
              <p class="mb-4" [ngClass]="{'text-muted': i === 1 || i ===3}">
                {{ item.body }}
              </p>
            </mdb-card-body>
          </mdb-card>
        </div>


      </div>
    </div>
  </section>

  <!-- Introduce -->
  <section class="introduce">
    <div class="container">
      <!-- Modal -->
      <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe id="player" class="embed-responsive-item" [src]="introduce?.youtubeId | safeUrl" frameborder="0"
                      allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-md-6 order-md-2">
          <div class="view">
            <img style="height: 350px; width: 100%;" class="img-fluid" [src]="introduce?.youtubeAvatar.url"
                 [alt]="introduce?.youtubeAvatar.name"/>
            <div class="mask flex-center rgba-black-light">
              <a data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect
                 class="btn-floating btn-danger btn-lg"><i class="fas fa-play"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mx-auto d-flex align-items-center text-white">
          <div class="px-4 py-4 py-lg-0">
            <h3 class="font-weight-normal mb-4">Giới Thiệu</h3>
            <p class="mb-0">{{ introduce?.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Product -->
  <app-product-list></app-product-list>

  <!-- New & project -->
  <section class="blue-grey lighten-5 news">
    <div class="container">
      <div class="row">
        <!-- News -->
        <div class="col-md-12 col-lg-5">
          <h2 class="news-title">Tin tức</h2>
          <ul class="list-unstyled">
            <li class="media zoom mb-2" *ngFor="let new of news">
              <a [routerLink]="['/news/tin-tuc-trong-nganh', new?.id]">
                <img width="100" height="100" class="d-flex mr-3 img-thumbnail" [src]="new?.image.formats.thumbnail.url"
                     [alt]="new?.image.name"/>
              </a>
              <div class="media-body">
                <h5 class="mt-0 mb-1 font-weight-bold">
                  <a class="text-dark" [routerLink]="['/news/tin-tuc-trong-nganh', new?.id]">{{ new?.title }}</a>
                </h5>
                <p class="text-clip-2 text-muted">
                  {{ new?.description }}
                </p>
              </div>
            </li>
          </ul>
        </div>

        <!-- Project -->
        <div class="col-md-12 col-lg-7">
          <h2 class="news-title">Tin công trình</h2>
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor="let construction of constructionNews">
              <!-- Card -->
              <div class="card h-100">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" [src]="construction?.image.url" [alt]="construction?.image.name"/>
                  <a [routerLink]="['/advisory/tin-cong-trinh', construction?.id]">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body h-100">
                  <!--Title-->
                  <p class="card-title text-clip-2">{{ construction?.title }}</p>
                  <!--Text-->
                  <p class="card-text text-clip-2">
                    {{ construction?.description }}
                  </p>
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
