<app-carousel></app-carousel>
<main>
  <!-- service  -->
  <section>
    <div class="container">
      <h2 class="text-center section-title">Dịch Vụ Của Chúng Tôi</h2>
      <div class="row wow fadeInUp">

        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
          <mdb-card class="h-100 text-center bg-success text-white">
            <mdb-card-body>
              <p class="mt-4 pt-2"><i class="fas fa-wrench fa-4x"></i></p>
              <h5 class="font-weight-normal my-4 py-2">
                {{ourService[0].title}}
              </h5>
              <p class="mb-4">
                {{ourService[0].body}}
              </p>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
          <mdb-card class="h-100 text-center">
            <mdb-card-body>
              <p class="mt-4 pt-2"><i class="fas fa-pencil-ruler fa-4x grey-text"></i></p>
              <h5 class="font-weight-normal dark-grey-text my-4 py-2">{{ourService[1].title}}
              </h5>
              <p class="text-muted mb-4">{{ourService[1].body}}</p>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
          <mdb-card class="h-100 text-center deep-purple lighten-1 text-white">
            <mdb-card-body>
              <p class="mt-4 pt-2"><i class="fas fa-chart-line fa-4x"></i></p>
              <h5 class="font-weight-normal my-4 py-2">{{ourService[2].title}}</h5>
              <p class="mb-4">{{ourService[2].body}}</p>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
          <mdb-card class="h-100 text-center">
            <mdb-card-body>
              <p class="mt-4 pt-2"><i class="fas fa-bullhorn fa-4x grey-text"></i></p>
              <h5 class="font-weight-normal my-4 py-2 dark-grey-text">{{ourService[3].title}}</h5>
              <p class="text-muted mb-4">{{ourService[3].body}}</p>
            </mdb-card-body>
          </mdb-card>
        </div>

      </div>
    </div>
  </section>

  <!-- Introduce -->
  <section class="bg-primary introduce">
    <div class="container">
      <!-- Modal -->
      <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/7MUISDJ5ZZ4"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters">

        <div class="col-md-6 order-md-2">
          <div class="view">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(152).jpg" alt="Video title">
            <div class="mask flex-center rgba-black-light">
              <a data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect
                class="btn-floating btn-danger btn-lg"><i class="fas fa-play"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mx-auto d-flex align-items-center text-white">
          <div class="px-4 py-4 py-lg-0">
            <h3 class="font-weight-normal mb-4">Giới Thiệu</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam hic
              explicabo
              nobis commodi, magnam nihil perferendis impedit sed fuga facere error velit voluptates
              tempora odit itaque illo eius. Error, minus.Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Quisquam hic explicabo nobis commodi, magnam nihil perferendis impedit
              sed
              fuga facere error velit voluptates tempora odit itaque illo eius. Error, minus.</p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- Product -->
  <app-product-list></app-product-list>

  <!-- New & project -->
  <section class="blue-grey lighten-5 news">
    <div class="container">
      <div class="row">
        <!-- News -->
        <div class="col-md-5">
          <h2 class="news-title">Tin tức</h2>
          <ul class="list-unstyled">
            <li class="media zoom mb-2">
              <a href="goctuvan.html">
                <img class="d-flex mr-3 img-thumbnail" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
                  alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h5 class="mt-0 mb-1 font-weight-bold"><a class="text-dark" href="goctuvan.html">List-based media
                    object</a></h5>
                <p class="text-clip text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla
                  vel metus
                  scelerisque ante</p>
              </div>
            </li>

            <li class="media zoom mb-2">
              <a href="goctuvan.html">
                <img class="d-flex mr-3 img-thumbnail" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
                  alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h5 class="mt-0 mb-1 font-weight-bold"><a class="text-dark" href="goctuvan.html">List-based media
                    object</a></h5>
                <p class="text-clip text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla
                  vel metus
                  scelerisque ante</p>
              </div>
            </li>

            <li class="media zoom mb-2">
              <a href="goctuvan.html">
                <img class="d-flex mr-3 img-thumbnail" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
                  alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h5 class="mt-0 mb-1 font-weight-bold"><a class="text-dark" href="goctuvan.html">List-based media
                    object</a></h5>
                <p class="text-clip text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla
                  vel metus
                  scelerisque ante</p>
              </div>
            </li>

            <li class="media zoom mb-2">
              <a href="goctuvan.html">
                <img class="d-flex mr-3 img-thumbnail" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
                  alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h5 class="mt-0 mb-1 font-weight-bold"><a class="text-dark" href="goctuvan.html">List-based media
                    object</a></h5>
                <p class="text-clip text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla
                  vel metus
                  scelerisque ante</p>
              </div>
            </li>

            <li class="media zoom">
              <a href="goctuvan.html">
                <img class="d-flex mr-3 img-thumbnail" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
                  alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h5 class="mt-0 mb-1 font-weight-bold"><a class="text-dark" href="goctuvan.html">List-based media
                    object</a></h5>
                <p class="text-clip text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla
                  vel metus
                  scelerisque ante</p>
              </div>
            </li>

          </ul>
        </div>

        <!-- Project -->
        <div class="col-md-7">
          <h2 class="news-title">Tin công trình</h2>
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text text-clip">Some quick example text to build on the card
                    title
                    and make up
                  </p>

                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text text-clip">Some quick example text to build on the card
                    title
                    and make up
                  </p>


                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text text-clip">Some quick example text to build on the card
                    title
                    and make up
                  </p>

                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text text-clip">Some quick example text to build on the card
                    title
                    and make up
                  </p>
                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text text-clip" text-clip>Some quick example text to build on the
                    card title
                    and make up
                  </p>
                </div>

              </div>
              <!-- Card -->
            </div>
            <div class="col mb-4">
              <!-- Card -->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text text-clip" text-clip>Some quick example text to build on the
                    card title
                    and make up
                  </p>
                </div>

              </div>
              <!-- Card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
