.card {
    background-image: url('../../../assets/images/gioi thieu.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: none !important;
    border-radius: 0 !important;
    height: 300px;
}
